@model LoginSystem.Models.User

@{
    Layout = "_LayoutNotLogin";
    ViewData["Title"] = "Editar Usuário";
}

<form asp-action="UserEdit">
    <div class="account-wall">
        <input type="hidden" asp-for="UserId" class="form-control" />
        <input type="hidden" asp-for="Email" class="form-control" />
        <input type="hidden" asp-for="Genre" class="form-control" />
        <input type="hidden" asp-for="Password" class="form-control" />


        <div class="form-group divSpaceMargin">
            <label class="control-label">Nome</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group divSpaceMargin">
            <label class="control-label">Data de Nascimento</label>
            <input type="date" asp-for="BirthData" class="form-control"/>
            <span asp-validation-for="BirthData" class="text-danger"></span>
        </div>

        <div class="form-group divSpaceMargin">
            <label class="control-label">Telefone</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group divSpaceMargin">
            <input type="submit" value="Salvar" class="btn btn-block btn-primary" />
        
        </div>
        <div class="form-group divSpaceMargin text-center">
            <a asp-action="UserProfile">Voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
